/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

body {
  margin: 0;
}

.box.flex {
  display: flex;
  justify-content: center;
}

.box {
  padding: .5rem;
}

.admin-button{
  position: absolute;
  right: 30px;
  top: 15px;
}
